.inline-title, .HyperMD-header-1, h1 {
	text-align: center;
}

.inline-title, .HyperMD-header-6, h6 {
	text-align: center;
}

img[alt*="desc"]{
	display: block;
	margin:	0 auto 0.5em auto;
}

.cm-line:has(img[alt*="desc"]), p:has(img[alt*="desc"]) {
	text-align: center;
	font-size: 0.8em;
}